[DEFAULT]
data_path = ECG_IEEE_Access_2022/dat
xls_data_path = XLS_ECG_data
fr_path = ECG_IEEE_Access_2022/fr
img_path = img
fr_img_path = img

[A_P106_106_1_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/MIT-BIH_Arrhythmia_Database/mat/Person_105/105_1
multiplier = 1
pathology = 2
data_type = mat

[DIFF]
sig_name = 1
file_name = None
multiplier = 1
pathology = 1
data_type = mat

[H_P001_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s1_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P002_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s2_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P003_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s3_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P004_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s4_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P005_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s5_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P006_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s6_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P007_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s7_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P008_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s8_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P009_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s9_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P010_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s10_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P011_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s11_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P012_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s12_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P013_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s13_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P014_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s14_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P015_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s15_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P016_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s16_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P017_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s17_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P018_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s18_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P019_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s19_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P020_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s20_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P021_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s21_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P022_PPG_S_S1]
sig_name = 1
file_name = /home/MyFiles2/ECG/physionet.org/files/pulse-transit-time-ppg/1.1.0/s22_sit
multiplier = 1
pathology = 1
data_type = physionet

[H_P001]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P001_M001_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_001/m001_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P002_M002_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_002/m002_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P003_M003_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_003/m003_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P004_M004_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_004/m004_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P005_M005_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_005/m005_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P006_M006_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_006/m006_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P007_M007_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_007/m007_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P008_M008_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_008/m008_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_11_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_11
multiplier = 0.072
pathology = 1
data_type = mat

[H_P009_M009_12_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_009/m009_12
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P010_M010_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_010/m010_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P011_M011_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_011/m011_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P012_M012_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_012/m012_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P013_M013_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_013/m013_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P014_M014_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_014/m014_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P015_M015_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_015/m015_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P016_M016_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_016/m016_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P017_M017_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_017/m017_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P018_M018_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_018/m018_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P019_M019_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_019/m019_10
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020]
sig_name = 1
file_name = None
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_1_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_1
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_2_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_2
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_3_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_3
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_4_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_4
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_5_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_5
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_6_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_6
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_7_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_7
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_8_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_8
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_9_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_9
multiplier = 0.072
pathology = 1
data_type = mat

[H_P020_M020_10_S2]
sig_name = 1
file_name = /home/MyFiles2/ECG/cebsdb_2minutes/mat/Person_020/m020_10
multiplier = 0.072
pathology = 1
data_type = mat