[DEFAULT]
data_path = ECG_IEEE_Access_2022/dat
fr_path = ECG_IEEE_Access_2022/fr
img_path = img
fr_img_path = fr-img

[B001_0]
sig_name = 0
file_name = b001
multiplier = 0.2

[B002_0]
sig_name = 0
file_name = b002
multiplier = 0.2

[M003_0]
sig_name = 0
file_name = m003
multiplier = 0.2

[M002_0]
sig_name = 0
file_name = m002
multiplier = 0.2

[P001_0]
sig_name = 0
file_name = p001
multiplier = 0.2

[P002_0]
sig_name = 0
file_name = p002
multiplier = 0.2

[B001_1]
sig_name = 1
file_name = b001
multiplier = 0.2

[B002_1]
sig_name = 1
file_name = b002
multiplier = 0.2

[M003_1]
sig_name = 1
file_name = m003
multiplier = 0.2

[M002_1]
sig_name = 1
file_name = m002
multiplier = 0.2

[P001_1]
sig_name = 1
file_name = p001
multiplier = 0.2

[P002_1]
sig_name = 1
file_name = p002
multiplier = 0.2

